name: medtech_maintenance
description: "Gestion des interventions médicales"
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.1

dependencies:
  flutter:
    sdk: flutter
  
  # Pour la caméra et photos
  camera: ^0.10.5
  image_picker: ^1.2.1
  path_provider: ^2.1.5
  path: ^1.8.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/